@font-face {
    font-family: 'inconsolatabold';
    src: url('../fonts/inconsolata-bold-webfont.woff') format('woff');     
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'inconsolataregular';
    src: url('../fonts/inconsolata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    color: #D9DBDD;
    background-color: #15202B;
    font-family: 'inconsolataregular';
}

.container { /* Sets the perspective and scroll properties for the whole page. */

    max-width: 960px;
    margin: 0 auto;
    font-size: 24px;
    padding: 25px;
}

.parallax {
    min-height: 500px;
    width: 100%;
    background: transparent;
}

.parallax-text{ /* TO-DO center(in the middle) */
    font-size: 50px;
    color: #D9DBDD;
    object-position: center;
    z-index: 2;
    position: relative;
}