body
{
    background-color: white;
}
header
{
    background-color:  white;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 1px;
}
nav
{
    background-color: white;
}

img
{
    width: 120px;
    height: 110px;

}
.container .s1 img ,.s2 img ,.s3 img
{
    padding: 15px;
    width: 400px;
    height: 300px;
}

ul /*elemento container*/
{ 
   
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul.ul2 ul /*elemento container*/
{ 
   
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
 .debug
{

    text-decoration: none;
    background-color: white;
    color: yellow;
    display: table-cell;
    font-size: 20px;
    color: black;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 30px;
    border-radius: 0px;
    
}
.debug-btn
{
    text-decoration: none;
    background-color: white;
    color: yellow;
    display: table-cell;
    font-size: 20px;
    color: black;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 30px;
    border-radius: 0px;    
}
.debug-btn:hover
{
    opacity: 0;
}
.debug-btn-gif
{
    
}
a
{

    text-decoration: none;
    background-color: white;
    color: yellow;
    display: table-cell;
    font-size: 20px;
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 30px;
    border-radius: 0px;
  
}
 .a2
{

    text-decoration: none;
    background-color: white;
    color: black;
    display: table-cell;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 30px;
    border-radius: 7px;
    
}
.lin
{
    
    width: 30px;
    height: 30px;
    text-align: center;
}
a:hover
{
    background-color: rgb(210, 210, 210);
    color: white;
}
.a2:hover
{
    background-color: rgb(210, 210, 210);
    color: white;
}
.debug:hover
{
    background-color: rgb(210, 210, 210);
    color: white;    
}
.container
{
    background-color: white;
    display: table; /*transformando o elemento container em tabela*/
    width: 100%; /*tamanho do container*/
    vertical-align: middle;
}
.s1
{
     /*cor de fundo da section*/
     background-color: white;
     /*elementos dispostos em linha*/
     display: table-cell;
     /* Porcentagem de ocupacao do elemento no container*/
     width: 33%;
}
.s2
{
   
    background-color: white;
     display: table-cell;
     width: 33%;
}
.s3
{
    background-color: white;
    display: table-cell;
    width: 33%;
}

footer
{
    background-color: white;
    color: rgb(210, 210, 210);;
    clear: both;
    text-align: center;
    padding: 5px;
    height: 80px;
    border-radius: 5px;
    margin-top: 2px;
}