@font-face {
    font-family: 'inconsolatabold';
    src: url('../fonts/inconsolata-bold-webfont.woff') format('woff');     
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'inconsolataregular';
    src: url('../fonts/inconsolata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    color: #fff !important;
    background-color: #15202B !important;
    font-family: 'inconsolataregular';
}

.container { /* Sets the perspective and scroll properties for the whole page. */
    max-width: 1080px;
    margin: 0 auto;
    font-size: 24px;
    padding: 25px;
}

.parallax {
    min-height: 500px;
    width: 100%;
    background: transparent;
}

.parallax-text{ /* TO-DO center(in the middle) */
    left: 50%;
    font-size: 50px;
    color: #fff;
    object-position: center;
    z-index: 2;
    position: relative;
}
.bg-dark{ /* Changed bootstrap.min.css nav-bar background color */

    background-color: #15202B !important;
}
