@font-face {
    font-family: 'inconsolatabold';
    src: url('../fonts/inconsolata-bold-webfont.woff') format('woff');     
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'inconsolataregular';
    src: url('../fonts/inconsolata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    color: #fff !important;
    background-color: #15202B !important;
    font-size: 1em !important;
    font-family: 'inconsolataregular';
}

.container { /* Sets the perspective and scroll properties for the whole page. */
    min-height: 300px;
    max-width: 1080px;
    margin: 0 auto;
    padding: 25px;
}

.parallax {
    min-height: 500px;
    width: 100%;
    background: transparent;
}

/* TO-DO center(in the middle) 
.parallax-text{ 

}
*/

.bg-dark{ /* Changed bootstrap.min.css nav-bar background color */

    background-color: #15202B !important;
}
