.ml-auto.-hidden{
    display: none !important;
}
.navbar__brand--extra-light{
    font-family: Exo2-Extra-Light;
}
.navbar__brand--extra-light:hover{
    color: #c4c4c4 !important;
}
.navbar__link--extra-light{
    font-family: Exo2-Extra-Light;
}