/* Cards - Using VH units because resposiviness duhh*/
.--html{
    background-image: url('../../../img/html5-faded.png'); 
}
.--css{
    background-image: url('../../../img/css3-faded.png');
}
.--php{
    background-image: url('../../../img/php-faded.png');
}
.--jsf{
    background-image: url('../../../img/jsf-faded.png');
}
.--reactjs{
    background-image: url('../../../img/reactjs-faded.png');
}
.--html,.--css,.--php,.--jsf,.--reactjs{
    background-size: 50vh;
    background-repeat: no-repeat;
}
.c-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20vh 0 15vh 0;
}
.c-card__body{
    width: 30vh;
    height: 50vh;
    display: inline-block;
    border: 0.25vh solid #3e4a61;
    border-radius: .5vh;
    color: #3e4a61;
    margin: 0 2.5vh 0 2.5vh;
    transition-timing-function: ease-in-out;
    text-decoration: none;
}
.c-card__title--medium{
    margin: 16vh 0;
    font-family: Exo2-Medium;
    text-align: center;
    display: block;
    font-size: 3vh;
}
.c-card__description{ 
    display: table-cell;
    vertical-align: center;
    height: 15vh;
}
.c-card__text--extra-light{
    font-family: Exo2-Extra-Light;
    text-align: center;
    display: block;
    font-size: 2.5vh;
}
/* Cards Mods*/
.c-card__body:hover {
    transition: background-size 200ms ease-in-out;
    background-size: 52vh;
}
/* Cards Mobile - Using rem units because mobile resposiviness are messed up [ Google, Mozzila, Apple +pls fix >:^( ]*/
@media only screen and (max-width: 800px) {
    .--html,.--css,.--php,.--jsf,.--reactjs{
        background-size: 15rem;
        background-position: center;
    }
    .c-card{
        flex-direction: column;
        margin: .15rem 0 0;
        padding: 1rem;
        overflow-x: hidden;
    }
    .c-card__body{
        width: 100%;
        height: 15rem;
        border: .1rem solid #3e4a61;
        border-radius: 5px;
        margin: 2.5rem 0;
        overflow-y: hidden;
    }
    .c-card__description{
        display: block;
        margin:5rem 0 0;
    }
    .c-card__title--medium{
        font-size: 1.5rem;
        margin: 4rem 0 0;
    }
    .c-card__text--extra-light{
        margin: 1.5rem 0 0;
        font-size: 1.5rem;
    }
}