.post{
    margin: 4vh 0;
}
.post__body{
    padding-left: 5vh;
}
.post__owner{
    margin-bottom: 2vh;
}
.post__avatar{
    border-radius: 50%;
    display: inline-block;
    background-color: #e6e6e6;
}
.post__nickname--bold{
    margin: 0 0 0 1vh;
    display: inline-block;
    font-family: Exo2-Bold;
    font-size: 0.9em;
}
.post__comment{
    display: inline-block;
    border-radius: 1.5vh;
    padding: 2vh;
    background-color: #e6e6e6;
}
.post__text--light{
    color: #40514e;
    font-family: Exo2-Light;
    font-size: 0.8em;
}