.tech-profile-body{
    max-width: 100%;
    height: 15em;
}
.--shadow {
    box-shadow: 0 0 7px #888888;
}
.tech-profile{
    width: 10em;
    height: 10em;
    margin-top: 2em;
    margin-left: 1em;
    border-radius: 50%; 
    display: inline-block;
    background-color: var(bgcolor);
}
.tech-avatar-image{
    width: 7.5em;
    height: 7.5em;
    display: block;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
.tech-profile-info-box{
    height: 75px;
    margin-top: -120px;
    margin-left: 80px;
    border-radius: 15px;
    text-align: center;
    display: block !important;
    background-color: grey;
    padding: 0 0 0 100px; 
}
.tech-profile-info-text{
    max-width: 99%;
    word-wrap: break-word;
    float: left;
    overflow: hidden;
    color: #dbdbdb;
}
.tech-code-block-body{
    height: 75px;
    border-radius: 15px;
    display: block !important;
    background-color: grey;
}
.tech-profile-info-text{
    text-align: center;
}