/* Info Box Mods */
.--shadow {
    box-shadow: 0 0 0.74vh #888888;
}

/* Info Box */
.tech-profile-body{
    max-width: 100%;
    margin-right: 6.8vh;
}
.tech-avatar-image{
    width: 7.5rem;
    display: block;
    margin: 2rem auto;
}
.tech-profile{
    width: 11rem;
    height: 11rem;
    margin: 2rem 0 0 1rem;
    border-radius: 50%;
    display: inline-block;
    background-color: var(bgcolor);
}
.tech-profile-info-box{
    margin: -8rem 0 0 7.5rem;
    margin-left: 7.5rem;
    display: block !important;
    background-color: grey;
    border-radius: 10px;
    padding: 2.5rem 2rem 2.5rem 5.25rem;
    font-size: 1.5rem;
    color: #dbdbdb;
    overflow: auto;
    text-align: left;
}
.tech-profile-info-box *{
    word-wrap: break-word;
    font-size: 1.5em;
    float: left;

}
.code-block-title{
    margin: 8rem 5.2% 0;
    font-size: 2rem; 
}