/* Footer - Using VH units because resposiviness duhh*/
.footer{
    position: absolute;
    width: 100%;
    background-color: #3e4a61;
    padding: 10vh;
    margin-top: 20vh;
    box-sizing: border-box;
}
.footer__content--light{
    text-align: center;
    color: #6e7e9b;
    font-size: 1.8vh;
    font-family: Exo2-Light;
}
.footer__link{
    color: #c3c5c9;
}
.footer__link:hover{
    color: #9ab1db;
}
/* Footer Mobile - Using rem units because mobile resposiviness are messed up [ Google, Mozzila, Apple +pls fix >:^( ]*/
@media only screen and (max-width: 800px) {
    .footer{
        margin-top: 4rem;
        padding: 5rem;
    }
    .footer__content--light{
        font-size: 1.2rem;
    }
}